* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F8F9;
    height: auto;
}

.intestazione {
    background-color: white;
}
#site-header {
    padding: 1rem;
    display: inline-block;
    background-color: white;
}

#titolo {
   font-weight: 800;
   font-size: 2rem;
   line-height: 3rem;
   font-family: Arial, Helvetica, sans-serif;
}

#logo {
    vertical-align:top;
}

.contenitore {
    margin: auto;
    padding: 1rem;
    width: 55%;
    background-color: white;
    margin-top: 2rem;
    padding-bottom: 0.5rem;
}

.pulsanti {
    margin-left: 1rem;
}

#bottone1 {
    border-radius: 5px;
    background-color: #47ADF1;
    padding: 0.3rem;
    border: 2px solid #47ADF1;
    color: white;
}

#bottone2 {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 0.3rem;
    border: 2px solid #DBDFE3;
    color: #D6DADE;
}

.contenitore2 {
    margin: auto;
    padding: 0;
    width: 55%;
    background-color: white;
}

.obiettivi {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.1rem;
    margin-left: 1rem;
    padding: 0rem;
}
.freccia {
  /*   margin-left: 1rem; */
  display: inline-block;
  margin: 0;
  width: 1rem;
  font-size: 1.5rem;
}

.punti-salienti {
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 1rem;
   
}
.circle {
    padding-bottom: 0.5rem;
}

.cerchio {
    margin-left: 1rem;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    color:#6AC3AE;
    border: 2px solid #6AC3AE;
    display: inline-block;
    
}

.cerchio-rosso {
    margin-left: 1rem;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    color:red;
    border: 2px solid red;
    display: inline-block;
    
}

.spunta
{
    text-align: center;
    line-height: 0.5rem;
    padding: 0.1rem;
    display: inline-block;
}

.xrossa
{
    text-align: center;
    line-height: 0.5rem;
    padding: 0.1rem;
    display: inline-block;
}

.punti {
    font-weight: 600;
    padding: 0.3rem;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-top: 0.5rem;
}

.blu {
    width: 4rem;
    height: auto;
    background:#45ABEA;
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.1rem;
}

.violetto {
    width: 4rem;
    height: auto;
    background:#9C72E4;
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.1rem;
}

.verde {
    width: 4rem;
    height: auto;
    background:#64C0A9;
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.1rem;
}

.arancione {
    width: 4rem;
    height: auto;
    background:#F3A236;
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.1rem;
}

.rosa {
    width: 4rem;
    height: auto;
    background:#D863A1;
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.1rem;
}

.verde2 {
    width: 4rem;
    height: auto;
    background:#B0C926;
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.1rem;
}
.scritta {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    line-height: 1rem;
    color: white;
    padding: 0.1rem;

}

.viola {
    margin-left: 1rem;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    color:lightgreen;
    border: 2px solid lightgreen;
    display: inline;
}

.punto2 {
    /* margin-left: 1rem; */
    font-weight: 600;
    /* padding: 0.3rem; */
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin: 0.2rem;
    margin-top: 0.5rem;
    /* display: inline-block; */
}